body{
    font-family: arial, sans-serif;
}
.material-icons-outlined {
    font-family: 'material icons';
    text-decoration: none;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar {
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #000;
    opacity: 75%;
    padding: 10px 10px 10px 10px;
}
a.navlink,a.applink {
    color: #000;
    opacity: 75%;
    text-decoration: none;
}
a.navlink:hover {
    color: #000;
    opacity: 75%;
    text-decoration: underline;
}
a.applink:hover {
    color: #000;
    opacity: 75%;
    text-decoration: none;
}
#about {
    padding-left: 24px;
}
#empty {
    width: 80%;
}
#apps-button {
    font-size: 18pt;
    color: #000;
    opacity: 55%;
    padding: 16px 10px 10px 10px;
    text-decoration: none;
}
#apps-button:hover {
    opacity: 100%;
    text-decoration: none;
}
#sign-in {
    padding-right: 24px;
    opacity: 100%;
}
#sign-in-button {
    font-family: arial, sans-serif;
    background-color: #4285f4;
    font-weight: bold;
    color: white;
    width: 70px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #4285f4;
    border-radius: 3px;
}
#sign-in-button:hover {
    box-shadow: 0 1px 0 rgb(0 0 0 / 15%);
}
#center {
    margin: 150px 25% 0 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#google-logo {
    width: 272px;
    height: 92px;
    grid-area: google-logo;
}
#search-space {
    margin-top: 30px;
}
#search-form {
    grid-area: search-form;
}
#search-box {
    width: 580px;
    height: 45px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px solid #dfe1e5;
    border-radius: 50px;
}
#search-box:hover {
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}
#search-icon {
    width: 25px;
    height: 25px;
    padding-left: 15px;
}
#search-input {
    grid-area: search-input;
    width: 490px ;
    height: 35px;
    border-color: transparent;
    font-family: inherit;
    font-size: 16px;
    color: rgba(0,0,0,.87);
}
#search-input:focus-visible {
    outline: none;
}
#mic-icon {
    width: 25px;
    height: 25px;
    padding-right: 15px;
}
#button-space {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}
.search-button {
    font-family: inherit;
    font-size: 14px;
    border: 1px solid transparent;
    background-color: #f2f2f2;
    color: #5F6368;
    padding: 0 16px;
    height: 36px;
    border-radius: 4px;
}
.search-button:hover {
    border-color: #c6c6c6;
    color: #000;
}
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #f2f2f2e3;
    background-color: #f2f2f2;
}
.footerbar {
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #000;
    opacity: 75%;
    padding: 10px 14px 10px 14px;
}
a.footerlink {
    color: #000;
    opacity: 75%;
    text-decoration: none;
}
a.footerlink:hover {
    color: #000;
    opacity: 75%;
    text-decoration: underline;
}
#advertising {
    padding-left: 30px;
}
#how-search-works {
    flex-shrink: 0;
}
#empty {
    width: 75%;
}
#settings {
    padding-right: 30px;
}
@media (max-width: 1135px){
    main,nav,footer {
     width: 1135px;
    } 
 }
 @media (max-height: 765px){
     #center {
      margin-top: 100px;
     } 
  }